/* Mobile Styles */
.container_form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin_form_button {
  padding: 0px 14px 0px 14px;
  border-radius: 0.5px;
  margin: 1px 0px 1px 0px;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .container_form {
    flex-direction: row;
  }
}
