/* General styles for mobile first */

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main_container {
  /* the 'flex: 1' below is set only on this one element out of many in the
'page' div which lets it stretch with the available space and letting the 
header and footer flow to the top and the bottom respectively */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #eaedf0;
  }
  .app-container {
    max-height: 100vh;
  }
}
