.remove-button {
  background-color: rgb(156, 8, 8);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 9px 6px 9px;
}

.remove-button:hover {
  background-color: rgb(100, 8, 8);
}

.quote {
  text-align: left;
}

.quote-list-area {
  /* border: solid 1px black; */
  height: 85vh;
  overflow: auto;
}

@media only screen and (min-width: 961px) {
  .remove-button {
    cursor: pointer;
  }
}
